{% extends 'base.twig' %}
{% block content %}
	<div class="container mt-5">
		{% for post in posts %}
			<div class="row py-3 border-bottom">
				<div class="col-2">

					{% if post.thumbnail.src %}
						
						<img src="{{ post.thumbnail.src('thumbnail') }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
					{% endif %}
				</div>
				<div class="col-10">
					<h5>
						<a href="{{post.link}}">
							<span class="text-dark">{{post.title}}</span>
						</a>
					</h5>
					
					{% if post.terms('post_tag') %}
					<span class="font-weight-light text-secondary ml-2">
						tags
					</span>
					{% endif %}
					{% for term in post.terms('post_tag') %}
						<a class="badge btn btn-light" href="{{term.link}}">{{term.name}}</a>
					{% endfor %}
					
					<div class="mt-2">
						{{post.content|excerpt(50)}}
						<a class="badge btn btn-light" href="{{post.link}}">Read More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
