{% extends "base.twig" %}
{% block hero %}
		{% from 'parts/macros.twig' import hero %}
		{{hero(Image(post.image).src('full'), post.header) }}
{% endblock %}
{% block content %}
	<div class="container mt-5">
		<div class="row">
		
			{% for person in people %}
				<div class="col-3 text-center mb-5">
					<img src="{{person.thumbnail.src('thumbnail')}}" alt="{{person.name}}" class = "rounded-circle">
					<h5 class="pt-2 text-secondary">
						<a href="{{person.link}}">{{person.name}}</a>
					</h5>
					<hr width = "50%">
					<p class="text-muted">
						{{person.content|excerpt(8)}}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
