{% extends 'base.twig' %}

{% block hero %}
		{% from 'parts/macros.twig' import hero %}
		{{hero(Image(post.image).src('full'), post.header) }}
{% endblock %}

{% block content %}
	<div class="container mt-2">
		{% for place in places.posts %}
			<div class="row mb-2">
				<div class="col-2">
					<img src="{{place.thumbnail.src('thumbnail')}}" alt="place.title">
				</div>
			</div>

			<div class="col-10">
				<div class="mt-2 float-right">
					{% for picture in place.meta('gallery') %}
						<img src="{{Image(picture).src(thumbnail)|resize('80')}}" alt="">
					{% endfor %}
				</div>
				<h5>{{place.title}}</h5>
				{{place.content|excerpt(20)}}
				{# reverse query #}
				{% if term_name in place.terms %}
					<div class="mt-4">
						{% for person in people %}
							{% if place.title in person.meta('favourite_places') %}
								<a href="{{person.link}}">
								<img src="{{person.thumbnail.src('thumbnail')|resize('70')}}" alt="">
								</a>
							{% endif %}
						{% endfor %}
					
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
