			<div class="row py-3 border-bottom {{post.breaking ? 'border border-danger bg-light rounded py-4'}}">
				<div class="{{ post.breaking ? 'col-4' : 'col-2' }}">

					{% if post.thumbnail.src %}
						
						<img src="{{ post.breaking ? post.thumbnail.src('medium') : post.thumbnail.src('thumbnail') }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
					{% endif %}
				</div>
				<div class="{{ post.breaking ? 'col-8' : 'col-10'}}">
					<h5>
						<a href="{{post.link}}">
							{% if post.breaking %}
								
								<span class="badge badge-danger font-weigh-bold">
									{{options_page.breaking_label}}	
								</span>
								<span class="text-danger font-weight-bold">{{post.title}}</span>
							{%else%}
								<span class="text-dark">{{post.title}}</span>
							{% endif %}
						</a>
					</h5>
					

					{{ include ( 'parts/terms.twig', {terms_list: post.terms('sponsor'), terms_label: 'Sponsors'} ) }}
					{{ include ( 'parts/terms.twig', {terms_list: post.terms('categories'), terms_label: 'Categories'} ) }}
					{{ include ( 'parts/terms.twig', {terms_list: post.terms('post_tag'), terms_label: 'Tags'} ) }}
					
					<div class="mt-2">
						{{post.content|excerpt(50)}}
						{{post.breaking ? post.content|excerpt(110) : post.content|excerpt(50)}}
						<a class="badge btn btn-light" href="{{post.link}}">Read More</a>
					</div>
				</div>
			</div>
